@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Quicksand&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: "Quicksand", sans-serif;
}

button,
input,
textarea {
    font-family: "Quicksand", sans-serif;
}

.main-container {
    max-width: 1440px;
    padding: 0 8rem;
    margin: auto;

    @media (max-width: 767px) {
        padding: 0 2rem;
    }
}

a.basic-link {
    text-decoration: none;
    color: #333;
    &:hover {
        color: #e02c6d;
    }
}

header .header-container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 8rem 1rem 8rem;
    @media (max-width: 767px) {
        padding: 2rem 0.625rem 0 0.625rem;
        position: relative;
    }
    > .bars,
    .cart {
        display: none;
        @media (max-width: 767px) {
            display: block;
            padding: 1rem;
            border-radius: 0.625rem;
            &:hover {
                background-color: #ddd;
            }
        }
    }
    > .header-logo {
        font-size: 1.5rem;
        font-weight: 700;
        color: #333;
        font-family: "Mooli", sans-serif;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        @media (max-width: 767px) {
            font-size: 1.3rem;
        }
        > span {
            padding: 0.6rem;
            color: #fff;
            background-color: #333;
        }
        &:hover {
            color: #e02c6d;
            > span {
                background-color: #e02c6d;
            }
        }
    }
    > .header-menu {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        @media (max-width: 767px) {
            display: none;
        }
        > li {
            list-style: none;
            font-weight: bold;
            @media (max-width: 767px) {
                padding: 0.625rem;
            }
            > span {
                color: #333;
                cursor: pointer;
                &:hover {
                    color: #e02c6d;
                }
            }
            > a {
                text-decoration: none;
                color: #333;
                position: relative;
                padding-bottom: 3px;

                &:hover {
                    color: #e02c6d;
                    &::after {
                        width: 100%;
                    }
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 2px;
                    background-color: #e02c6d;
                    transition: 0.2s width;
                }
            }
        }
    }
}

section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem auto;
    @media (max-width: 767px) {
        flex-direction: column-reverse;
        margin: 3.5rem auto;
    }
    > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 1.4rem;
        @media (max-width: 767px) {
            justify-content: center;
            padding: 10px;
            text-align: center;
        }
        h1 {
            font-size: 3rem;
            font-weight: 700;
            color: #333;
            @media (max-width: 767px) {
                font-size: 2rem;
            }
        }
        p {
            font-size: 1.2rem;
            font-weight: 500;
            color: #333;
            width: 70%;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        button {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 100px;
            background-color: #e02c6d;
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            width: fit-content;
            gap: 8px;
            cursor: pointer;
            &:hover {
                background-color: #bb1854;
            }
            @media (max-width: 767px) {
                margin: auto;
            }
        }
    }
    > div:last-child {
        background: url("../images/Group 33091.png") no-repeat center/80%;
        > img {
            margin: 50px;
            width: 75%;
        }
    }
}

section.sponsors {
    padding: 2rem 2rem;
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-top: 3px solid rgba(0, 0, 0, 0.06);
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
    @media (max-width: 767px) {
        padding: 1rem 1rem;
        margin: 2rem 0;
        gap: 32px;
    }
    > img {
        width: 80px;
        @media (max-width: 767px) {
            width: 50px;
        }
    }
}

section.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 4rem;
    @media (max-width: 767px) {
        padding: 2rem 0;
    }
    > h1 {
        font-size: 2rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 2rem;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @media (max-width: 767px) {
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }
    }
    > div.collection-cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
        margin: 0 0.7rem;
        @media (max-width: 767px) {
            justify-content: center;
        }
        > div.card {
            width: 30%;
            background-color: #fff;
            border-radius: 10px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            min-width: 17.375rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            > img {
                width: 100%;
                border-radius: 10px;
            }
            > h2 {
                font-size: 1.2rem;
                font-weight: 700;
                color: #333;
            }
            div.rating-box {
                display: inline-flex;
                justify-content: left;
                align-items: center;
                gap: 4px;
                > img {
                    width: 15px;
                    height: 15px;
                }
                span {
                    display: inline-block;
                    margin-left: 3px;
                }
            }
            > p.price {
                font-size: 1.2rem;
                font-weight: 500;
                color: #333;
            }
            div.detail {
                font-weight: 500;
                font-size: 15px;
            }
            > button {
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 100px;
                background-color: #e02c6d;
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                margin-top: 0.5rem;
                cursor: pointer;
                &:hover {
                    background-color: #bb1854;
                }
            }
        }
    }
    > div.load-more {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        margin-top: 2rem;
        padding-right: 0.7rem;
        > a {
            color: #e02c6d;
            font-size: 1rem;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
            > img {
                width: 13px;
            }
        }
    }
}

section.featured {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: 6rem 2rem 10rem 2rem;
    @media (max-width: 767px) {
        flex-direction: column-reverse;
        text-align: center;
        margin: 4rem 0 8rem 0;
        gap: 2rem;
    }
    > div:first-child {
        > img {
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
    > div:last-child {
        > h1 {
            font-size: 2.5rem;
            font-weight: 800;
            color: #333;
            margin-bottom: 0.5rem;
            @media (max-width: 767px) {
                font-size: 2rem;
            }
        }
        > p {
            font-size: 1.2rem;
            font-weight: 500;
            color: #333;
            margin: 1.5rem 0;
            width: 70%;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        button {
            padding: 0.6rem 1.1rem;
            border: none;
            background-color: #e02c6d;
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            &:hover {
                background-color: #bb1854;
            }
        }
    }
}

footer {
    padding: 4rem;
    background-color: #0a0826;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 0.3rem;
    text-align: center;
    > h1 {
        margin-bottom: 1rem;
        font-family: "Mooli", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        > span {
            padding: 8px;
            display: inline-block;
            background-color: #fff;
            color: #0a0826;
        }
    }
    > div.icon-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        > i {
            display: inline-block;
            padding: 0.8rem;
            background-color: #171440;
            border-radius: 100px;
            cursor: pointer;
            &:hover {
                background-color: #0a0731;
            }
        }
    }
}
