/*------------
 	font
------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*------------------------------ 
	common styles or utilities
------------------------------- */
*{	
    font-family: 'Poppins', sans-serif;
	margin: 0;
	box-sizing: border-box;
    cursor: url("../images/cursor.png"), auto;
}
h1, h2, h3, h4, h5{
	color: #3A3A3A;
}
.container{
	padding: 0 30px;
	margin-bottom: 100px;
	
}

/*------------------------
	product intro styles
------------------------ */
.product-area{
	display: flex;
}
.product-intro{
	width: 582px;
	height: 291px;
	margin-right: 133px;
}
.section-title{
	font-weight: 700;
	font-size: 52px;
}

.primary-button{
	margin-top: 26px;
	background: #09adc3;
	width: 196px;
	height: 44px;
	border-radius: 30px;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	border: 0;
	transform: translateY(-6px);
}
.primary-button:active{
	transform: translateY(-2px);
}
.primary-button .fa-arrow-right{
	margin-left: 10px;
}
.product-banner img{
	width: 100%;
	transition: all 1.8s ease-out;
}
.product-banner img:hover{
	transform: rotate(360deg) scale(0.7, 0.7) ;

}
/* -----------------
sponsors styles
------------------- */
.sponsors-logos{
	display: flex;
	justify-content: space-evenly;

}
/*-----------------------
		 popular collection styels
------------------------ */
#popular-collection{
	display: flex;
	justify-content: center;
}
.popular-collection h3{
	text-align: center;
	font-size: 28px;
	margin-bottom: 30px;
    color: #09adc3;
}
.all-products{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 45px
}
.product{
	width: 329px;
	height: 476px;
	border-radius: 5px;
	box-shadow: 0 0 10px gray;
	padding: 12px;
	
}
.product img{
	width: 300px;
	height: 256px;
}
.product-title{
	display: flex;
	font-size: 28px;
	margin-top: 16px;
}
.product-price{
	font-size: 20px;
}
.product-detail{
	font-size: 12px;
	color: gray;
}
.fa-star.filled, .fa-star-half-alt{
	color: #FFC014;
	font-size: 14px;
}
span{
	font-size: 14px;
}
.see-more{
	display: flex;
	justify-content: flex-end;
}
.see-more a{
	text-decoration: none;
	color: #09adc3;
}
.see-more .fa-arrow-right{
	margin-left: 10px;
}
/* ------------------------
	optional item styles
------------------------- */
.optional-item{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;

}
.optional-left img{
	width: 80%
}
.optional-right{
	width: 610px;
	height: 224px;
}
.optional-title{
	color: #0A0826;
	font-weight: 700;
	font-size: 38px;
}
/*-------------------
 footer styles
------------------ */
.footer-area{
	width: 1440px;
	height: 239px;
	background: #0A0826;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-details{
	width: 262px;
	height: 139px;
	text-align: center;
}
.footer-title{
	font-size: 20px;
	color: #fff;
}
.copyright{
	font-size: 14px;
	color: #D9DBE1;
 }
.social-icons a{
	padding: 10px 12px;
	font-size: 20px;
	color: #fff;
}